<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #F32F2F;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>FMF VISION CENTER</h1>
    <p>BY CROSSBAY MOTORSPORTS</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">THE DON</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c6be0635716181c6be0649d.697674856181c6be0649d_1800x1800.jpg?v=1636159076" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">PIT STOP</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c739539a096181c73953b05.599444156181c73953b05_1800x1800.jpg?v=1643961248" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">ELMER</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c78d874f906181c78d8767a.296182076181c78d8767a_1800x1800.jpg?v=1643961495" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">THROTTLEL</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c351931cf46181c3519338e.716682746181c3519338e_1800x1800.jpg?v=1636159018" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">FACTORY</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c351931cf46181c3519338e.716682746181c3519338e_1800x1800.jpg?v=1636159018" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">GEARS</div>
        <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0415/2354/4214/products/Fmfpower6181c484e221436181c484e2374.375893336181c484e2374_1800x1800.jpg?v=1643960468" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">100% UV Protection</div>
        <div class="panel-footer">Lightweight, Durable nylon frame</div>
        <div class="panel-footer">High impact resistant and shatter proof Polycarbonate lenses</div>
        <div class="panel-footer">Microfiber cleaning cloth included</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
